-   let slide = 'slide'
-   let swiperText = 'text'
-   let swiperBlock = 'block'
-   let swiperImage = 'image'
-   let swiperPagination = 'pagination'
-   let swiperPrev = 'prev'
-   let swiperNext = 'next'
-   let swiperScrollbar = 'scrollbar'

//- defaultClasses
-   let swiperWrapper = swiper + '-' + wrapper
-   let swiperSlide = swiper + '-' + slide
-   let swiperMain = swiper + '-' + main
-   let swiperSlideActive = swiper + '-' + slide + '-' + active

-   let swiperSliderPagination = swiper + '-' + swiperPagination
-   let swiperSliderButtonPrev = swiper + '-' + button + '-' + swiperPrev
-   let swiperSliderButtonNext = swiper + '-' + button + '-' + swiperNext
-   let swiperSliderScrollbar = swiper + '-' + swiperScrollbar

//- SwiperMain
-   let mainWrapper = swiper + '-' + main + '__' + wrapper
-   let mainSlide= swiper + '-' + main + '__' + slide
-   let classSliderMain= swiper + ' ' + swiper + '-' + main
-   let classSliderMainWrapper= swiperWrapper + ' ' + mainWrapper
-   let classSliderMainSlide= swiperSlide + ' ' + mainSlide
-   let classSliderMainSlideActive= swiperMain + ' ' + mainSlide + ' ' + swiperSlideActive
-   let classSliderMainSlideWrapper= swiperMain + '__' +  slide + '-' + wrapper
-   let classSliderMainSlideInner= swiperMain + '__' +  slide + '-' + inner
-   let classSliderMainSlideText= swiperMain + '__' +  slide + '-' + swiperText + '-' + wrapper
-   let classSliderMainSlideBlock= swiperMain + '__' +  slide + '-' + swiperBlock
-   let classSliderMainSlideImageWrapper= swiperMain + '__' +  wrapper + '-' + swiperImage

-   let swiperMainID = 'swiperMain'
-   let swiperIntroID = 'swiperIntro'
-   let swiperPromoID = 'swiperPromo'

//- SwiperIntro
-   let classSliderIntro= swiper + ' ' + swiper + '-' + intro + ' ' + main

//- SwiperPromo
-   let classSliderPromo= swiper + ' ' + swiper + '-' + promo + ' ' + main

//- swiper block
-
    let arraySlidersClass= [
        classSliderMain, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper wrapper
-
    let arraySliderClassWrappers= [
        classSliderMainWrapper, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper slide
-
    let arraySliderClassSlides= [
        classSliderMainSlide, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper wrapper slide
-
    let arraySliderClassSlideWrapper= [
        classSliderMainSlideWrapper, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper inner slide
-
    let arraySliderClassSlideInner= [
        classSliderMainSlideInner, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper text slide
-
    let arraySliderClassSlideText= [
        classSliderMainSlideText, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper block slide
-
    let arraySliderClassSlideBlocks= [
        classSliderMainSlideBlock, 
        classSliderIntro, 
        classSliderPromo
    ]

//- swiper image-wrapper slide
-
    let arraySliderClassSlideImageWrapper= [
        classSliderMainSlideImageWrapper, 
        classSliderIntro, 
        classSliderPromo
    ]
//- swiper Navaigtion
-
    let arraySliderNavigation= [
       swiperSliderPagination,
       swiperSliderButtonPrev,
       swiperSliderButtonNext,
       swiperSliderScrollbar
    ]


-   let className = slide + '-' + swiperText
-   let urlLink= 'link'
-   let urlLink1= 'link11'
-   let urlLink2= 'link22'

-
    let urlLinkSlideText = [
        urlLink1,
        urlLink2
    ]