extends ../layout/main.pug
include ../modules/mixins/mixins

block variables
    include ../abstraction/variables
    -   let srcVal = 0
    -   let swiperVar = 0
block head 
    include ../partials/head/head

block title
    each title in titles
        if title == indexTitles
            title= title.index

block content
    include ../sections/header/header
    main(class="main")
        include ../sections/intro-section/intro-section
        include ../sections/main-section/main-section

    if (mainPage)
        h3 sexes
    else
        h2 eseees22

    +list1('list1', ...list1)

    each texts, el in text
        if el == 0
            p(class=pClass)= texts

