- let container = 'container'
- let list = 'list'
- let menu = 'menu'
- let nav = 'nav'
- let jsBurger = 'js-burger'
- let item = 'item'

//- numbers
- let number0 = 0
- let number1 = 1
- let number2 = 2
- let number3 = 3
- let number4 = 4
- let number5 = 5
- let number6 = 6
- let number7 = 7
- let number8 = 8
- let number9 = 9
- let number10 = 10

//- numbersArray
-
  let numbers = [
    number0,
    number1,
    number2,
    number3,
    number4,
    number5,
    number6,
    number7,
    number8,
    number9,
    number10,
  ]   

//- urls

-
  let urlPath = {
    urlPathMenuFromIndex: "pages/menu/",
    urlPathMenuFromAnotherPage: "../pages/menu/",
  }