- let introSection = 'intro-section'
- let introSectionWrapper = introSection + '__' + wrapper
-
    let introSectionClasses= [
        // 0
        introSection,
        // 1
        introSectionWrapper,
    ]

//- name section titles-Classes
- let sectionTitleClass = section + '-' + title


//- name section titles Text
if (mainPage)
    - let sectionIntro_TitleText = 'EaseWeb | Сайты, которые продают'

-
    let sectionTitleTexts = [
        sectionIntro_TitleText
    ]