- let menu = 'menu'
- let nav = 'nav'
- let jsBurger = 'js-burger'

- let navClass = menu + ' ' + nav + ' ' + jsBurger
- let menuWrapper = menu + '__' + wrapper
- let menuInner = menu + '__' + inner
- let menuList = menu + '__' + list
- let navList = nav + '__' + list

-
    let navUlClasses= [
    menuList,
    navList
    ]

-
    let menuClasses= [
    navClass,
    menuWrapper,
    menuInner,
    navUlClasses
    ]