- let mainTitle = 'main-title'

//- index.html logo
- let classNameLogo = 'logo'

- let classTitleThird = 'title-third'

- let quzieParagraph = 'quzieParagraph'

- let inputsWrapper = 'input-mainWrapper'

- let price1 = 'price1'
- let price2 = 'price2'
- let price3 = 'price3'