- let mainTitle = 'main-title'

//- index.html logo
- let classNameLogo = 'logo'

- let classTitleThird = 'title-third'

- let quzieParagraph = 'quzieParagraph'

- let inputsWrapper = 'input-mainWrapper'

- let price1 = 'price1'
- let price2 = 'price2'
- let price3 = 'price3'

//- intro-section
-   let titleDefault = ' title-default'
-   let titleDefault__H1 = ' title__h1'
-   let titleDefault__H2 = ' title__h2'
-   let titleDefault__H3 = ' title__h3'