if swiperVar == 0
    block mainWrapper
        block wrapper
            block includes

            block pagination
            block navigation
            block scrollbar

if swiperVar == 1
    div(class=arraySlidersClass[1] id=swiperMainID)

if swiperVar == 2
    div(class=arraySlidersClass[2] id=swiperMainID)