mixin h1(className, text)
    h1(class=(className+titleDefault+titleDefault__H1))= text

mixin h2(className, text)
    h2(class=className+titleDefault+titleDefault__H2)= text

mixin h3(className, text)
    h3(class=className+titleDefault+titleDefault__H3)= text

