section(class=introSectionClasses[0])
  div(class=container)
    div(class=introSectionClasses[1])
      if (mainPage)
        +h1(sectionTitleClass, sectionTitleTexts[0])
        include ../../modules/includes/sliders/sliderMain