section(class=introSectionClasses[0])
  div(class=container)
    div(class=introSectionClasses[1])
      if (mainPage)
        each val in sectionTitleTexts
          +h1(sectionTitleClass, val.pageIndex__sectionIntro_ThirdTitle)
        //- include ../../modules/includes/forms/formQuize/formQuize
        include ../../modules/includes/sliders/sliderMain/sliderMain
        each val in sectionTitleTexts
          +h2(sectionTitleClass, val.pageIndex__sectionIntro_MainTitle)
          